pg_dump: warning: there are circular foreign-key constraints on this table:
pg_dump: detail: shop_categories
pg_dump: hint: You might not be able to restore the dump without using --disable-triggers or temporarily dropping the constraints.
pg_dump: hint: Consider using a full dump instead of a --data-only dump to avoid this problem.
--
-- PostgreSQL database dump
--

\restrict DwAupeK66gWOjJhDAsdnSwbntoEbTFlNZ4hVV4GLlhESKXylJSr7JwU6hXoxi1r

-- Dumped from database version 16.10 (Debian 16.10-1.pgdg13+1)
-- Dumped by pg_dump version 16.10 (Debian 16.10-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.alembic_version (version_num) FROM stdin;
20260315_123456
\.


--
-- Data for Name: carts; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: shops; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: product_variants; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: cart_items; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: email_logs; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: file_uploads; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: login_attempts; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: maintenance_logs; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.maintenance_logs (id, operation, table_name, rows_affected, duration_ms, executed_by, executed_at) FROM stdin;
\.


--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: order_items; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.order_items (id, order_id, product_id, shop_id, quantity, unit_price, total_price, product_name, product_snapshot, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: order_status_logs; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: user_sessions; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.user_sessions (id, user_id, access_token, refresh_token, token_family, user_agent, ip_address, device_id, is_revoked, revoked_at, expires_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: page_views; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.page_views (id, shop_id, user_id, session_id, page_type, product_id, url, entered_at, exited_at, time_spent, created_at) FROM stdin;
\.


--
-- Data for Name: payments; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: payment_events; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: payment_intents; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: payment_providers; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: payment_methods; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: payment_method_countries; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: payment_refunds; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.payment_refunds (id, payment_id, order_id, refund_number, provider_refund_id, amount, currency, reason, refund_type, items_refunded, status, failure_reason, fee_refunded, provider_fee_refunded, metadata, created_at, updated_at, processed_at) FROM stdin;
a13bcfac-be29-4a30-8404-e3eda0247607	06992001-3056-48d7-9cb9-9f25f6acdba8	1b46ab7b-0cff-4988-bbf7-840d348f361f	REF-2026-01-28-a13bcfac	\N	1.00	USD	\N	full	\N	pending	\N	f	0.00	{}	2026-01-28 19:25:23.870271+00	2026-01-28 19:25:23.870271+00	\N
\.


--
-- Data for Name: payment_reminders; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.payment_reminders (id, shop_id, reminder_type, days_until_due, amount_due, email_sent, email_sent_at, email_template, created_at) FROM stdin;
\.


--
-- Data for Name: payment_webhooks; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.payment_webhooks (id, provider_code, webhook_id, event_id, event_type, raw_payload, headers, signature, ip_address, status, processing_attempts, error_message, processed_data, received_at, processed_at, next_retry_at) FROM stdin;
\.


--
-- Data for Name: payout_methods; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: seller_payout_accounts; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.seller_payout_accounts (id, shop_id, payout_method_code, account_details, verification_status, verification_data, verified_at, verification_failure_reason, is_primary, is_active, auto_payout, payout_frequency, payout_threshold, available_balance, pending_balance, total_paid_out, payout_count, last_payout_at, last_payout_amount, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: payout_transactions; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.payout_transactions (id, payout_number, shop_id, payout_account_id, amount, currency, exchange_rate, payout_currency, payout_amount, provider_fee_amount, platform_fee_amount, forex_fee_amount, status, failure_reason, failure_code, provider_payout_id, provider_transfer_id, provider_batch_id, estimated_arrival_date, created_at, processed_at, paid_at, failed_at, canceled_at, metadata, provider_response, source_payments, source_balance_snapshot) FROM stdin;
\.


--
-- Data for Name: shop_categories; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: product_categories; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.product_categories (product_id, category_id, is_primary, display_order, created_at) FROM stdin;
\.


--
-- Data for Name: product_downloads; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.product_downloads (id, product_id, order_item_id, user_id, download_token, download_url, ip_address, user_agent, download_count, expires_at, created_at, last_download_at) FROM stdin;
\.


--
-- Data for Name: product_images; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: product_price_history; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.product_price_history (id, product_id, old_price, new_price, old_stock, new_stock, change_type, changed_by, change_reason, created_at) FROM stdin;
\.


--
-- Data for Name: product_views; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.product_views (id, product_id, shop_id, user_id, session_id, viewed_at, created_at) FROM stdin;
99e26622-824e-4055-b630-ed995aeb56c5	96ca8596-d371-4e4c-8cb2-756f8d858aea	b288ad9b-5773-4695-a6c1-e00473930c72	\N	\N	2026-02-27 13:48:21.103641+00	2026-02-27 13:48:21.103641+00
\.


--
-- Data for Name: shop_settings; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: shop_status_history; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.shop_status_history (id, shop_id, old_status, new_status, changed_by, reason, notes, changed_at, created_at) FROM stdin;
\.


--
-- Data for Name: shop_views; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: subscription_history; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: user_audit_log; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.user_audit_log (id, user_id, action_type, table_name, record_id, old_values, new_values, changed_by, ip_address, user_agent, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: user_email_history; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.user_email_history (id, user_id, old_email, new_email, changed_at, changed_by, reason, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: webhook_events; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.webhook_events (id, event_id, event_type, source, payload, status, processed_at, error_message, retry_count, created_at) FROM stdin;
67ef9a42-55d3-4938-8936-0de8caf06a34	evt_system_test_1769364813	payment.succeeded	stripe	{"test": true, "amount": 1000, "currency": "TRY"}	processed	\N	\N	0	2026-01-25 18:13:32.959866+00
e15c3a56-8403-46d0-b716-bab9e010b2d2	evt_system_test_1769364875	payment.succeeded	stripe	{"test": true, "amount": 1000, "currency": "TRY"}	processed	\N	\N	0	2026-01-25 18:14:35.226351+00
\.


--
-- PostgreSQL database dump complete
--

\unrestrict DwAupeK66gWOjJhDAsdnSwbntoEbTFlNZ4hVV4GLlhESKXylJSr7JwU6hXoxi1r

