fastapi
uvicorn
sqlalchemy
asyncpg
pydantic
python-jose[cryptography]
passlib[bcrypt]
python-multipart
httpx
aiohttp
python-slugify
bcrypt
python-dotenv
psycopg2-binary
alembic
email-validator
aiohttp
slugify
pydantic-settings==2.1.0
google-auth==2.23.4
google-auth-oauthlib==1.1.0